body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d40000;

}

#header .title {
  margin: 0;
  color: #ffffff;
  padding: 0 1rem;
}

#header .auth-options {
  display: flex;
  height: 100%;
}

#header .auth-options button {
  padding: 0 1rem;
  background-color: #a30808;
  color: #fff;
  font-size: 1.1rem;

}

#header .auth-options button:hover {
  background-color: #e26c6c;
}


#media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }

  #header .auth-options button {
    font-size: 0.9rem;
    padding: 0 0.5rem;
  }
}