body {
  background-image: linear-gradient(white, hotpink, gray);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;

}

.selector {
    background-image: linear-gradient(white, black);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /* <- here it is */
  
    width: 100px;
    height: 100px;
  }